backups/Autogenerate ideas for posts and small projects.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-15T20:04:57.762Z",
  "id": "4",
  "name": "Autogenerate ideas for posts and small projects",
  "nodes": [
    {
      "parameters": {
        "chatId": "-1001931064142",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "ea85da8c-8345-46ef-906d-868bf9e8947d",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "As an AI assistant please generate a topic of 5 ideas for Linkedin post OR for ideas that AI may be quickly and efficiently be used as a small but really useful product!"
            }
          ]
        },
        "options": {}
      },
      "id": "6eea4be7-3237-4a6b-a1dc-833dde8009d3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ed41f4e-3a50-409b-80d1-1df90eb58cac",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        940,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "978b7e31-b9f7-40e4-9163-e83459374f6c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "6"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-15T20:08:23.000Z",
  "versionId": "7b120ff0-2bcd-4984-ba82-3a9d58d9cd25"
}