backups/Generate prompt to create inst post.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-15T20:09:03.606Z",
  "id": "7",
  "name": "Generate prompt to create inst post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "1322eff3-0ed0-4ac3-927b-498b0cdd93c6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "generate prompt for gpt 3.5 that it create instagram post about IT, development, https://cherrypick.agency, MVP and so on. One or multiple topics at a time"
            }
          ]
        },
        "options": {}
      },
      "id": "e201b3e3-2164-40cd-be70-813e2002bd06",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -420,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6d525c6-24fa-4cfa-abe8-3b75d3a2b4ec",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf0ae505-3a10-48aa-9284-14b30b1a5d12",
      "name": "OpenAI1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        20,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "responseFormat": "imageUrl",
        "options": {
          "size": "1024x1024"
        }
      },
      "id": "3b4a52ee-d040-46d2-9c84-629d18a4843a",
      "name": "OpenAI2",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1001931064142",
        "text": "={{ $node.OpenAI1.json.message.content }} {{ $node.OpenAI1.json.message.content }}",
        "additionalFields": {}
      },
      "id": "f4894e45-f5d4-4ddb-ae48-62fb1560fcd2",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        200,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001931064142",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "1a72819e-a488-450d-acd7-11be2cf4cac0",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "6"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        9
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-19T09:00:00.000Z",
  "versionId": "21164234-98f1-4f7c-85c0-d50764d0f116"
}